.arrow_right-button {
  width: 24px;
  min-height: 24px;
  list-style: none;
  border: none;
  background: url(../../images/arrow\ right\ swipe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}