.person-button {
  background: url(../../images/person.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.favorites-button {
  background: url(../../images/favorite.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bag-button {
  background: url(../../images/Bag.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu-button {
  visibility: hidden;
  background: url(../../images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 700px) {
  .menu-button {
     visibility: visible;
  }
}