.footer__form-input {
  width: 100%;
  outline: none;
  border: none;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-bottom:  1px solid rgba(0,0,0,0.2);
  padding: 25px 0 10px 10px;
  margin: 0 0 30px 0;
}