.link {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
  margin: 0 0 8px 0;
}

.link:hover {
  color: gray;
}

.link:nth-of-type(3) {
  margin: 0;
}